# LuxeCart E-Commerce Environment Variables

VITE_API_URL=http://localhost:3000/api
VITE_APP_NAME=LuxeCart

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBIEey1Qhpcotcv85MTdyzU-mujUTQowVI
VITE_FIREBASE_AUTH_DOMAIN=e-commerce-shop-6f417.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=e-commerce-shop-6f417
VITE_FIREBASE_STORAGE_BUCKET=e-commerce-shop-6f417.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=502829760871
VITE_FIREBASE_APP_ID=1:502829760871:web:32ecfdab44d51db2876fc2
